@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model invoice_web_caon.models.reporte

<!DOCTYPE html>
<html>
    <header>
    <title>Calculo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <body>
        <div class="container" style="margin-top:50px">
            <div class="row justify-content-center">
                <div class="col-4">
                    <ul class="list-group">
                        <li class="list-group-item active" style="text-align:center"><h1>Report</h1></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Invoice #:
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayTextFor(model => model.numero)
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cliente:
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayTextFor(model => model.cliente)
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Subtotal:
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayTextFor(model => model.subTotal)
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total:
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayTextFor(model => model.total)
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>   
    </body>
</html>